@media (max-width: 680px) {

    .app {
        flex-direction: column;
        align-items: center;
    }

    .content-page-wrapper {
        flex-direction: column;
        align-items: center;
        
        .left-column {
            flex-direction: column;
            align-items: left;    
        }

        .righ-column {
            flex-direction: column;
            align-items: right;    
        }
    }

    .nav_img_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .home-wrapper {

        .home-img-wrapper {
            flex-direction: column;
            align-items: center;
        }

        .home-buttons-wrapper {
            flex-direction: column;
            align-items: center;

            a {
                margin-bottom: 20px;
            }
        }
    }
}